<div class="root">
    <header class="presentation">
        <section class="info">
            <h1>Pagno Dev</h1>
            <h3>Full-Stack Developer</h3>
            <p>Turning lines of code into innovative solutions,<br>
                Building the world, one project at a time.</p>
        </section>

        <section class="menu">
            <ul>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#experience">Experience</a>
                </li>
                <li>
                    <a href="projects">Projects</a>
                </li>
            </ul>
        </section>

        <section class="icons">

        </section>
    </header>

    <main class="carrerData">
        <section class="carrerPresentation">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam ea, deserunt quidem impedit totam
                doloremque exercitationem ducimus aspernatur, rerum magnam harum quia omnis corporis quam libero quaerat
                minima facilis. <span class="highlight">Teste de destaque no texto</span> Continuando o texto com o
                estilo anterior</p>
        </section>
        <section class="experienceTimeLine">
            <app-experience-card company="NDD Tech" startYear="2023"
                [chipList]="['Angular', 'HTML', 'CSS', 'JavaScript']"></app-experience-card>

            <app-experience-card company="Plasoft" startYear="2022" lastYear="2023"
                [chipList]="['Angular', 'HTML', 'CSS', 'JavaScript']"></app-experience-card>
        </section>
    </main>
</div>